$White: hsl(0, 0%, 100%);
$LightGray: hsl(212, 45%, 89%);
$GrayishBlue: hsl(220, 15%, 55%);
$DarkBlue: hsl(218, 44%, 22%);

$font-family: "Outfit", sans-serif;
$font-size: 15px;
$regular: 400;
$bold: 700;

$mobile-breakpoint: 375px;
$desktop-breakpoint: 1440px;
